body{
    background-image: url('../img/bg.jpg');
    color: #fff;
}

.warp{
	margin: 0 auto 0 auto;
	width: 8.0625rem;
	perspective: 25rem;
}

.box{
	-webkit-transform-style: preserve-3d;
	height: 100%;
    -webkit-perspective-origin: 50% 50%;
    div{
        position: absolute;
        width: 8.0625rem;
        height: 73.125rem;
        transition: transform 0.3s, opacity 0.3s;
    }
}
